.header{
    background: lightsalmon;
    width: auto;
    height: 130px;
}

#login-form{
    display: inline-block;
    width: auto;
    margin-left: 1004px;
    margin-top: 15px;
}

.container {
    width: 500px;
    margin: 20px auto;
    display: inline-block;
}

.catalogs {
    width: 500px;
}

.item {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    min-height: 120px;
    max-height: 210px;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 2px solid #2c3e50;
}

.f_product{
    vertical-align: top;
    width: 120px;
    height: 120px;
    horiz-align: center;
    margin: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    visibility: visible;
}

.n_product{
    visibility: visible;
}

.p_product{
    visibility: visible;
}

.count {
    height: 20px;
    width: 64px;
    border: 1px solid #ddd;
    margin-left: 28px;
    visibility: visible;
    margin-top: auto;
}

.n_product, .p_product {
    width: 120px;
    height: 15px;
    font-size: 14px;
    text-align: center;
    color: red;
    margin-top: auto;
}

#selectCount{
    visibility: visible;
    margin: 28px;
    margin-top: auto;
    width: 66px;
    height: 22px;
}