#header{
    background: lightsalmon;
    width: auto;
    height: 130px;
}
#login{
    background:lightsalmon;
    height: 50px;
}
#login-form{
    display: inline-block;
    width: auto;
    margin-left: 860px;
    margin-top: 12px;
}

.container {
    width: 500px;
    margin: 20px auto;
    display: inline-block;
}

.catalog {
    width: 500px;
}

.item {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    min-height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #2c3e50;
}

.item p {
    font-size: 12px;
    vertical-align: text-bottom;
    text-align: center;
}

#choice{
    vertical-align: top;
}