<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/lavshuka</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1111</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="am.lavshuka.lad.model.user.UserModel"/>
        <mapping class="am.lavshuka.lad.model.product.ProductCategory"/>
        <mapping class="am.lavshuka.lad.model.product.ProductType"/>
        <mapping class="am.lavshuka.lad.model.product.ProductBrand"/>
        <mapping class="am.lavshuka.lad.model.product.ProductModel"/>
        <mapping class="am.lavshuka.lad.model.product.BuySellActionProduct"/>
        <mapping class="am.lavshuka.lad.model.product.ProductsByCount"/>
    </session-factory>
</hibernate-configuration>